.game-board{
    border: 5px solid red;
    padding: 5px;

    position: fixed;
    inset: 0px;
    width: 12rem;
    height: 5rem;
    max-width: 100vw;
    max-height: 100dvh;
    margin: auto;
}
.game-board tr {
    width: 100%;
}
.piece-square{
    width: 100px;
    height: 80px;
    display: inline-grid;
}

.piece-square .bg-black{
    background-color: #0000;
    width: 100%;
    height: 100%;
    border: 1px solid white;
}

.piece-square .bg-white{
    background-color: #ffff;
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

